doctype html
html
	head
		title Sign up page
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

	body

		a(href="index.html"): img(src="http://www.placehold.it/400x200?text=go+back+to+the+home+page")

		p Lo-fi offal polaroid literally asymmetrical pop-up. Migas green juice tilde health goth. Humblebrag skateboard dreamcatcher taxidermy fap. Cardigan blog direct trade kickstarter. Lo-fi sriracha fap green juice, tousled narwhal vegan raw denim fingerstache. Kitsch next level aesthetic typewriter, green juice kogi distillery meggings plaid kale chips slow-carb put a bird on it cliche blue bottle. 90's kale chips wolf, forage shabby chic 8-bit DIY farm-to-table mlkshk brooklyn mustache.

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="js-cookie.js")
		script(src="function.js")