doctype html
html
	head
		title Parallax
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/assets/style.css")

	body

		header.bird-box
			.back-bird
			.logo
			.fore-bird

		section.content

			article

				h1 Clothing store

				hr

				p Authentic skateboard blue bottle bushwick. Master cleanse before they sold out schlitz paleo, messenger bag church-key post-ironic gastropub cold-pressed ethical blue bottle lumbersexual. Chartreuse art party yr pop-up artisan. Tousled portland ethical, organic thundercats artisan church-key tofu seitan man braid. Forage poutine distillery, offal before they sold out pabst normcore fap butcher everyday carry man braid. 90's paleo meggings, mumblecore echo park viral before they sold out shabby chic drinking vinegar 3 wolf moon. Humblebrag hashtag 8-bit hammock, next level sustainable offal.

				hr

				.clothes-block
					.img-row
						.figure
							img(src="/assets/images/model1.jpg")
							figcaption Blackbird Sweater - <strong>$153</strong>

						.figure
							img(src="/assets/images/model2.jpg")
							figcaption Blackbird Trousers - <strong>$153</strong>
						.figure
							img(src="/assets/images/model3.jpg")
							figcaption Blackbird Jacket - <strong>$153</strong>

					.img-row
						.figure
							img(src="/assets/images/model1.jpg")
							figcaption Blackbird Sweater - <strong>$153</strong>

						.figure
							img(src="/assets/images/model2.jpg")
							figcaption Blackbird Trousers - <strong>$153</strong>
						.figure
							img(src="/assets/images/model3.jpg")
							figcaption Blackbird Jacket - <strong>$153</strong>

					.img-row
						.figure
							img(src="/assets/images/model1.jpg")
							figcaption Blackbird Sweater - <strong>$153</strong>

						.figure
							img(src="/assets/images/model2.jpg")
							figcaption Blackbird Trousers - <strong>$153</strong>
						.figure
							img(src="/assets/images/model3.jpg")
							figcaption Blackbird Jacket - <strong>$153</strong>



				h1 Clothing store

				hr

				p Authentic skateboard blue bottle bushwick. Master cleanse before they sold out schlitz paleo, messenger bag church-key post-ironic gastropub cold-pressed ethical blue bottle lumbersexual. Chartreuse art party yr pop-up artisan. Tousled portland ethical, organic thundercats artisan church-key tofu seitan man braid. Forage poutine distillery, offal before they sold out pabst normcore fap butcher everyday carry man braid. 90's paleo meggings, mumblecore echo park viral before they sold out shabby chic drinking vinegar 3 wolf moon. Humblebrag hashtag 8-bit hammock, next level sustainable offal.

				hr

				.large-window
					.window-tint
						.promo-text Fall Suits
							strong from $99
							a(href="#").window-cta Shop now




				h1 Rich History

				hr

				p Authentic skateboard blue bottle bushwick. Master cleanse before they sold out schlitz paleo, messenger bag church-key post-ironic gastropub cold-pressed ethical blue bottle lumbersexual. Chartreuse art party yr pop-up artisan. Tousled portland ethical, organic thundercats artisan church-key tofu seitan man braid. Forage poutine distillery, offal before they sold out pabst normcore fap butcher everyday carry man braid. 90's paleo meggings, mumblecore echo park viral before they sold out shabby chic drinking vinegar 3 wolf moon. Humblebrag hashtag 8-bit hammock, next level sustainable offal.

				hr

				.blog-posts-row
					.post.post-1
						h5 Post Title
						img(src="/assets/images/posts/one.jpg")
						p Authentic skateboard blue bottle bushwick. Master cleanse before they sold out schlitz paleo, messenger bag. next level sustainable offal.
						p: a.button(href="#") Read More

					.post.post-2
						h5 Post Title
						img(src="/assets/images/posts/two.jpg")
						p Authentic skateboard blue bottle bushwick. Master cleanse before they sold out schlitz paleo, messenger bag. next level sustainable offal.
						p: a.button(href="#") Read More

					.post.post-3
						h5 Post Title
						img(src="/assets/images/posts/three.jpg")
						p Authentic skateboard blue bottle bushwick. Master cleanse before they sold out schlitz paleo, messenger bag. next level sustainable offal.
						p: a.button(href="#") Read More




		footer
			.col3
				strong FIND US ON
				ul
					li: a(href="#") Twitter
					li: a(href="#") Twitter
					li: a(href="#") Twitter
					li: a(href="#") Twitter

			.col3
				strong OTHER SHOPS
				ul
					li: a(href="#") Twitter
					li: a(href="#") Twitter
					li: a(href="#") Twitter
					li: a(href="#") Twitter

			.col6
				p HERE IS SOME TEXT.

		//- div(style="height: 2000px")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="/assets/functions.js")