doctype html
html
	head
		title REMs vs EMs
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/style.css")
		//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

	body

		h1 Hello there, you look nice. Well, sort of.

		p Vegan shabby chic marfa brunch. Hoodie pitchfork cliche, shabby chic shoreditch health goth keffiyeh craft beer drinking vinegar cornhole cray mustache locavore street art. Franzen affogato tacos shoreditch heirloom, literally mustache paleo raw denim craft beer pop-up chicharrones kickstarter cardigan. Four loko pug bespoke tacos yr, cold-pressed waistcoat man bun umami seitan post-ironic. Roof party four loko cold-pressed, pour-over kickstarter butcher kogi. Typewriter offal thundercats mumblecore, hashtag direct trade distillery photo booth crucifix butcher cardigan blog letterpress meditation. Typewriter 3 wolf moon kombucha semiotics pop-up.

		a(href="").button click me