//- footer
//- 	.footerBlock
//- 		nav 



//- script(src="_assets/js/jquery-2.2.0.min.js")
//- script(src="_assets/js/fadeInScroll.jQuery.js")
//- script(src="_assets/js/hamburger-toggle.js")
//- script(src="_assets/js/formspree_ajax.js")
//- script(src="_assets/js/slick.js")
//- script(src="_assets/js/functions.js")

//- script.
//- 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//- 	ga('create', 'UA-66656088-2', 'auto');
//- 	ga('send', 'pageview');