.home
	.blackContainer
		.introText
			h1 Elite Havens
			h2 Villa Mandalay

		.bookAStay
			.text
				h3 Book a stay now
				p Experience stunning tropical living. Be the first to stay at Villa Mandalay, opening this September.
			.form
				form
					input(type="text", name="name", placeholder="name", required)
					input(type="email", name="email", placeholder="email", required)
					input(type="text", name="contact", placeholder="contact number", required)
					button(type="submit", name="send") Book a stay now

		.stayInformed
			.text
				h3 Book a stay now
				p Don’t miss Villa Mandalay news. Let Elite Havens send you updates on the Villa Mandalay launch.
				p After more information now? Why not <a href="#">Download the Elite Havens Brochure</a>.
			.form
				button(type="submit", name="send") @ Register your interest

		.takeACloserLook
			.text
				h3 Book a stay now
			.imageText
				.image
				.text
					p It’s all in the brochure: Stylish contempary living, luxuriously appointed rooms, live-in chef, and a range of gardens, courtyards, and facilities.
			.form
				button(type="submit", name="send") @ Register your interest

.youtubeDiv
	img(src="_assets/img/general/watch tv commercial.png")
.brandLogo
	img(src="_assets/img/general/elite haven icon.png")






