section.section-clients

	h3(id="clients") Clients

	.client-controls
		.client-control-next
		.client-control-prev

	.clients-belt {% for client in site.data.portfolio.clients %}

		.client-unit
			.client-face
				img(src="/assets/img/clients/{{ client.avatar }}" alt="photo of {{ client.name }}")
				strong.client-name {{ client.name }}
				em.client-title {{ client.title }}

			.client-content
				{{ site.data.portfolio.blurb | markdownify }}

		{% endfor %}

	.clients-logos
		{% for i in (1..4) %}
		.client-logo.active-client
		{% endfor %}

	.relDiv
		.absoDiv