
<section class="section-clients">
  <h3 id="clients">Clients</h3>
  <div class="client-controls">
    <div class="client-control-next"></div>
    <div class="client-control-prev"></div>
  </div>
  <div class="clients-belt">{% for client in site.data.portfolio.clients %}
    <div class="client-unit">
      <div class="client-face"><img src="/assets/img/clients/{{ client.avatar }}" alt="photo of {{ client.name }}"/><strong class="client-name">{{ client.name }}</strong><em class="client-title">{{ client.title }}</em></div>
      <div class="client-content">{{ site.data.portfolio.blurb | markdownify }}</div>
    </div>{% endfor %}
  </div>
  <div class="clients-logos">{% for i in (1..4) %}
    <div class="client-logo active-client"></div>{% endfor %}
  </div>
  <div class="relDiv">
    <div class="absoDiv"></div>
  </div>
</section>