header
	.logo {% include icons/logo.html %}

	nav {% for item in site.data.portfolio.menu %}
		a(href="{{ item.url }}") {{ item.name}}
		{% endfor %}

	h1
		span {{ site.data.portfolio.title }}
	p.kicker {{ site.data.portfolio.description }}