
<section class="alt-section">
  <h3 id="work">Work</h3>
  <div class="thumb-container">{% for project in site.data.portfolio.projects %}<a style="background:url(/assets/img/work/{{ project.folder }}/thumb.jpg" data-folder="{{ project.folder }}" class="thumb-unit">
      <div class="thumb-overlay"><strong>{{ project.name }}</strong></div></a>{% endfor %}</div>
</section>
<div class="work-belt">
  <div class="color-gradient"></div>
  <div class="work-box">
    <div class="project-title"></div>
    <div class="project-load">
      <p>text here</p>
    </div>
  </div>
</div>