section.alt-section

	h3(id="work") Work

	.thumb-container {% for project in site.data.portfolio.projects %}

		a(style="background:url(/assets/img/work/{{ project.folder }}/thumb.jpg", class="thumb-unit" data-folder="{{ project.folder }}")
			.thumb-overlay
				strong {{ project.name }}

		{% endfor %}

.work-belt
	.color-gradient
	.work-box
		.project-title
		.project-load
			p text here