* {
  padding: 0;
  margin: 0; }

header {
  background-image: url(https://unsplash.imgix.net/photo-1414490929659-9a12b7e31907);
  height: 100vh;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

p, h2 {
  max-width: 600px;
  margin: 0 auto 20px; }
