@import url(https://fonts.googleapis.com/css?family=Lato:300,400,600,700)

$font-stack: 'Lato', sans-serif

body
	font: 100% $font-stack

$accent: #EC297B
$lightgrey: #58595B
$bgcolor: #EDF2F0

$blackcolor: #0E1726
$aquacolor: #50E3C2



// Font styles
p
	font-size: 12px
	color: white
	font-weight: 400
	text-align: center

a
	color: $aquacolor

	&:hover
		color: shade($aquacolor, 20%)

h1
	font-size: 16px
	color: white
	font-weight: 400
	text-transform: uppercase
	text-align: center

h2
	font-size: 34px
	color: white
	font-weight: 300
	text-transform: uppercase
	text-align: center

h3
	font-size: 21px
	color: $aquacolor
	font-weight: 400
	text-transform: uppercase
	text-align: center

h4



// Custom fonts



// Buttons and Forms



// Basic styles
body, html
	height: 100%

em
	font-style: italic

strong
	font-weight: bold

.light
	font-weight: 300

hr
	border: solid #ddd
	border-width: 1px 0 0
	clear: both
	margin: 10px 0 30px
	height: 0	